﻿<h1>ASP.NET Core Reporting Application</h1>
<div class="row">
  <div class="col-md-4">
        <div style="font-size:150%">
            <p id="portNo"></p>
            <script>
                document.getElementById("portNo").innerHTML =
                    "The backend application started at port " + window.location.port + ".";
            </script>
        </div>
  </div>
  
</div>